body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}

.app {
  height: 500px;
}

h1 {
  margin-bottom: 50px;
}

.item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
